[submodule "submodules/matcha"]
	path = submodules/matcha
	url = https://github.com/nv-dvl/matcha
[submodule "submodules/MV-RoMa"]
	path = submodules/MV-RoMa
	url = https://github.com/IceTea-CV/MV-RoMa
[submodule "submodules/UFM"]
	path = submodules/UFM
	url = https://github.com/UniFlowMatch/UFM
